img{
    width: 90%;
    max-width: 100%;
    align-items: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
} 

.snake-description{
    text-align: justify ;
    margin-top: 0; 
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px; 
}

.go-back-link {
    display: flex;
}

.snake-title {
    text-align: center;
    font-size: 29px;
    text-transform: uppercase;
}

/* .carouselContainer{
    width: 400px;
    float: right;
    margin-right: 100px;
    height: 250px;
} */

/* .snakeGame{
    overflow: auto;
} */


/* .carousel__slider--horizontal{
    height: 209px;
} */

/* .carouselContainer img{
    width: 450px;
} */


/* .snakeImag {
    border-radius: 40px;
    margin-bottom: 20px

} */
